---
layout: single
---

<h3>Research Highlights</h3>


<h3>About Us</h3>
<div class="about">
Our research goal is to discover the principles of learning from data and use them to develop
algorithms that can learn like living beings. Our current focus is on develop new life-long
learning algorithms to autonomously learn to percept, act and reason throughout their lives.
</div>

<h3>News</h3>

{% assign i = 0 %}
{% for post in site.posts %}
  {% if post.categories contains 'news' and i < 5 %}
    <div class="news">
      <b> {{ post.date | date: '%B %d, %Y' }} </b> <br>
      {{ post.content }}
      <hr>
    </div>
    {% assign i = i | plus:1 %}
  {% endif %}
{% endfor %}
<a href="news" class="news"> Show all news... </a>

	


