---
layout: default
---

<div id="main" role="main">

  <article class="page" itemscope itemtype="https://schema.org/CreativeWork">

     <div class="page__inner-wrap">

       <div class="post-header">
	 <h1 id="page-title" class="page__title" itemprop="headline"> {{ page.title }} </h1>
	 <span class="post-meta">
	 {{ page.author }} &nbsp;&bull;&nbsp; {{ page.date | date: '%B %d, %Y'  }} &nbsp;&bull;&nbsp;
    {% assign words = page.content | strip_html | number_of_words %}
	 {{ words | divided_by: 180 | plus: 1 }} minutes read
	 </span>
       </div>

      <section class="page__content" itemprop="text">
        {% if page.toc %}
          <aside class="sidebar__right {% if page.toc_sticky %}sticky{% endif %}">
            <nav class="toc">
              <header><h4 class="nav__title"><i class="fas fa-{{ page.toc_icon | default: 'file-alt' }}"></i> {{ page.toc_label | default: site.data.ui-text[site.locale].toc_label | default: "On this page" }}</h4></header>
              {% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu" %}
            </nav>
          </aside>
        {% endif %}
        {{ content }}
        {% if page.link %}<div><a href="{{ page.link }}" class="btn btn--primary">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
      </section>

    </div>

    </article>
</div>    

